<html>
  <head>
    <title>Demo socket IO</title>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>

    <script src="controller.js"></script>
    <link rel="stylesheet" type="text/css" href="layout.css" />
  </head>

  <body>
    <div id="wrapper">
      <div id="loginForm">
        <h3>Name</h3>
        <input type="text" id="userName" />
        <input type="button" value="Register" id="btn" />
      </div>
      <div id="chatForm">
        <div id="left">
          <div id="boxTitle">Users Online</div>
          <div id="boxContent">...</div>
        </div>
        <div id="right">
          <div id="hi">
            <span id="currentUser">asd</span>
            <input type="button" id="btnLogout" value="Logout" />
          </div>

          <div id="listMessages"></div>

          <input type="text" id="textMessage" />
          <input type="button" id="btnSendMessage" value="Send" />
        </div>
      </div>
    </div>
  </body>
</html>
