body {
  background-color: #ebeef4;
}
#wrapper {
  width: 600px;
  margin: auto;
}
#userName {
  background-color: transparent;
  border-width: solid 1px black;
}
#left,
#right {
  min-height: 300px;
}
#left {
  width: 30%;
  float: left;
  background-color: #f0f2d0;
}
#right {
  width: 70%;
  float: right;
  background-color: #d4f9f8;
}
#boxTitle {
  border: solid 1x black;
  padding: 5px;
  text-align: center;
  font-weight: 500;
}
#boxContent {
  border: solid 1px black;
  border-top: none;
  padding: 5px;
  text-align: center;
}
#hi {
  text-align: right;
}
#listMessages {
  height: 300px;
  background-color: #fcead4;
  margin-bottom: 15px;
}
#textMessage {
  background-color: transparent;
  border: solid 1px black;
}
#btnSendMessage {
}
